.titre {
	text-align:center
	}
.scbody {
    font-size:20px
 }
code {
    background-color: #EEE;
 }
.BigTitles {
    font-size: larger;
    color: #005282;
}
a{
    color: #005282;
}
